@import 'Main.scss';

.Loading {
  width: 25vw;
  height: auto;
  @include center;
  padding-bottom: 3vw;

  div {
    font-weight: 100;
    color: #8F8F8F;
    font-size: 2.5vw;
  }

  img {
    width: 10vw;
  }
}
